<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Paulius Kazokas">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <title>Bootstrap Homework</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="index.html">FreeLegalSoftware.com</a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="card box-shadow">
                <div class="card-body">
                    <form class="form-signin">
                        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                        <p class="text-muted">Not signed up? <a class="text-danger" href="#">Sign up here.</a></p>
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
                        <br>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                        <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                        </div>
                        <button class="btn col-sm-5 btn-xl bg-danger btn-group" type="submit">Sign in</button> <a class="text-danger" href="#">| Forgot Password?</a>
                    </form>
                </div>
            </div>
        </main>
        <footer class="footer bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="text-light">Contacts</h2>
                        <ul>
                            <li><a class="text-light"><i class="fas fa-phone"></i> 84651681 89465</a></li>
                            <li><a class="text-light">5657 Humboldt Ave S</a></li>
                            <li><a class="text-light">Minneapolis, MN 55419</a></li>
                            <li><a class="text-light">United States</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-light">About Us</h2>
                        <p class="text-light text-justify">
                            We are profesional scammer customer service group. Basically all indians, we had one asian, but he was vegan and not really talked much in english so we had to fired him. We act quite real technicians to get your money in any possible way.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-light">Newsletter</h2>
                        <p class="text-light text-justify">
                            To be honest this is scam too, we didn't even planed to have anything like newsletter.. but we have a button below, when you press it we just basically get your all personal information.
                        </p>
                        <p><a class="btn bg-danger text-dark" href="#" role="button">Innocent Button &raquo;</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>